@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant parent-class {
    .parent-class & {
        @slot;
    }
}


@layer base {
    @font-face {
        font-family: "Dana Regular";
        src: url("./assets/fonts/Dana/DanaFaNum-Regular.woff2") format('woff2');
        font-display: swap;
    }
    @font-face {
        font-family: "Dana Medium";
        src: url("./assets/fonts/Dana/DanaFaNum-Medium.woff2") format('woff2');
        font-display: swap;
    }
    @font-face {
        font-family: "Dana DemiBold";
        src: url("./assets/fonts/Dana/DanaFaNum-DemiBold.woff2") format('woff2');
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba Medium";
        src: url("./assets/fonts/Morabba/Morabba-Medium.woff2") format('woff2');
        font-display: swap;
    }

    body {
        @apply font-Dana-Regular bg-gray-50 dark:bg-gray-900;
    }

    .swiper-pagination{
        height: 36px !important;
        width: 144px !important;
        background: #ffff !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        position: absolute !important;
        right: 0 !important;
        left: 0 !important;
        margin: 0 auto !important;
        border-radius: 8px !important;
        bottom: -8px !important;
    }
    .dark .swiper-pagination{
        background-color: #111827 !important;
    }
    /*===== Reset Input Defult Styles =====*/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

}

@layer components {
    input[type="range"] {
        appearance: none;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        pointer-events: none;
        transition: all 200ms ease-in-out;
        direction: ltr;
    }
    input[type="range"]::-webkit-slider-thumb {
        appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background-color: #3b82f6;
        cursor: pointer;
        pointer-events: auto;
    }
    input[type="range"]:hover::-webkit-slider-thumb{
        background-color: #2563eb;
    }
    input[type="range"]:active::-webkit-slider-thumb{
        background-color: #60a5fa;
    }
}

@layer utilities {
    .flex-center {
        @apply flex items-center justify-center;
    }
    .custom-prev-banner-btn:hover,
    .custom-next-banner-btn:hover{
        @apply text-blue-500;
    }

    .mask-radial {
        mask-image: radial-gradient(circle at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 85%);
    }
}

@utility container {
    @apply mx-auto ;
}

@theme {
    /* ! =========== ! Font ! =========== ! */
    --font-Dana-Regular: "Dana Regular";
    --font-Dana-Medium: "Dana Medium";
    --font-Dana-DemiBold: "Dana DemiBold";
    --font-Morabba: "Morabba Medium";

    /* ! =========== ! Font ! =========== ! */
    --breakpoint-xss: 22.5rem;
    --breakpoint-xs: 30rem;
    --breakpoint-sm: 40rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;
    --breakpoint-xl: 80rem;
    --breakpoint-2xl: 84rem;

    /* ! =========== ! Animation ! =========== ! */
    --animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
    @keyframes ping {
        75%, 100% {
            transform: scale(2);
            opacity: 0;
        }
    }
}